

body {
    background-color: rgba(47, 46, 65, 1);
    padding: 65px;
    height: 100dvh;
}



body #logo{

    margin-top: 53px;

}
div {
margin-top: 55px;
margin 55px 85px 0;
}

footer a:hover {
    justify-content: space-between;
     font-weight: bold;


    
}

footer, a{
    color: white;
    text-align: center;
}


#cadeado{
    display: block;
}